name: Documentation

on:
  # manual trigger
  workflow_dispatch:
  # trigger from an other action
  repository_dispatch:
    types: [trigger-docu]

  pull_request:
  push:
    branches: 
      - main
    paths:
      - 'docs/**'
      - 'README.md'
      - '.github/workflows/Documentation.yml'
    tags: 
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out repository"
        uses: actions/checkout@v4

      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v2
        with:
          version: '1'
          arch: x64

      - name: "Copy examples, readme"
        env:
          WORK_TREE: './docs/src/examples'
          SRC_BRANCH: 'origin/examples'
          SRC_FOLDER_PATH: 'examples'
        # copy the examples from the examples branch (.md, .svg) and copy the readme in the docs folder
        run: |
          git fetch
          git --work-tree=$WORK_TREE/.. checkout $SRC_BRANCH -- $SRC_FOLDER_PATH/jupyter-src/*.md $SRC_FOLDER_PATH/jupyter-src/*.svg $SRC_FOLDER_PATH/pluto-src/*.html
          mv $WORK_TREE/jupyter-src/* $WORK_TREE 
          rm -r $WORK_TREE/jupyter-src
          cp ./README.md ./docs/src/index.md

      - name: "Check out fmi-export repository"
        uses: actions/checkout@v4
        with:
          repository: 'ThummeTo/FMIExport.jl'
          ref: 'examples'
          path: 'FMIExport.jl'

      - name: "Copy fmi-export examples"
        env:
          WORK_TREE: './docs/src/examples/fmiexport_examples'
          SRC_FOLDER_PATH: 'FMIExport.jl/examples'
        # copy the examples from the examples branch (.md, .svg) and copy the readme in the docs folder
        # $SRC_FOLDER_PATH/jupyter-src/*.svg $SRC_FOLDER_PATH/pluto-src/*.html
        run: | 
          mkdir $WORK_TREE
          mv $SRC_FOLDER_PATH/*.md $WORK_TREE 
          rm -r $SRC_FOLDER_PATH/*

      - name: "Install dependencies"
        run: julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'

      - name: "Build and deploy"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
        run: julia --project=docs/ docs/make.jl
